body{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F2F4F5;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 12px;
}


.navbar{
    position: sticky;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
}

.navbar a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.navbar img {
    width: 38px;
    height: 38px;
    margin: 0 0 0 5px;
}

.direc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
    color: #3D6165;
}

.drc{
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: clip;
    overflow-y: visible;
}

.drc a{
    text-decoration: none;
    color:#3D6165;
    padding: 5px;
    color: #5b878c;
}

.chat {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 8px 0;
}

.chat a{
    border: 2px solid #002F34;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    width: 120px;
    background-color: #002F34;
    color: white;
}

.chat a:hover {
    background-color: white;
    color: #002F34;
}


.pic {
    position: relative;
    height: 240px;
    width: 100%;
    background-color: black;
}
.pic img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.isi {
    margin: 0 0 5px;
    padding: 16px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(171, 171, 171);
    overflow: auto;
}

.isi h1{
    font-size: 20px;
    margin: 0 0 0; 
}
.isi h2{
    font-size: 14px;
    margin: 20 0 0px;
    font-weight: normal;
}
.isi p {
    margin: 4px 0 4px;
    font-size: 12px;
}

.isi hr{
margin-bottom: 0;
margin-top: 14px;
}

.prc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    gap: 10px;
}


.loc {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;

}

.desc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.prof{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    flex-wrap: wrap;
}

.prof img{
    object-fit: cover;
    width: 68px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.more {
    margin-left: auto;
}

.rel{
    position: relative;
    width: 100%;
    height: 100%;
}

.map{
    margin: 10px 0 10px;
    width: 100%;
    height: 100%;
}

.poin {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 25%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #5b878c84;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
}

.footer{
    position: relative;
    background-color: #002F34;
    color: white;
    margin-bottom: auto;
    text-align: center;
    padding: 16px;
    margin: 20px 0 0;
    z-index: 5;
}

.iklan {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    gap: 10px;
    padding: 10px 0;
}

.ads {
    border: 1px solid lightgray;
    padding: 10px;
    width: 150px;
    position: relative;

}

.love {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_ads{
    color: black;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.ads img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1;
    margin: auto;
    object-fit: cover;
}

.ads h4{
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.ads h2 {
    margin: 0 0 12px ;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.ads p {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.ads h1{
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.navbar_desktop {
    display: none;
}


.bantuan {
    display: none;
}

.info {
    display: none;
}

.konten_desktop{
    display: none;
}
